[submodule "src/3rd_party/easyloggingpp"]
	path = src/3rd_party/easyloggingpp
	url = git@github.com:amrayn/easyloggingpp.git
[submodule "src/3rd_party/catch2"]
	path = src/3rd_party/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "src/3rd_party/argparse"]
	path = src/3rd_party/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "src/3rd_party/flatbuffers"]
	path = src/3rd_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "src/3rd_party/HighFive"]
	path = src/3rd_party/HighFive
	url = git@github.com:BlueBrain/HighFive.git
